<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<div class="dash-header-wrapper">
    <h2 class="dashboard-header">Live Tasks</h2>
</div>
<% if (flashMessages.success) { %>
    <div class="alert alert-success">
        <%= flashMessages.success %>
    </div>
<% } %>
<% if (flashMessages.error) { %>
    <div class="alert alert-danger">
        <%= flashMessages.error %>
    </div>
<% } %>

<div class="tasks-section">
    <div class="task-section">
        <h2>Tasks I've Assigned:</h2>
        <div class="task-header">
            <div>Organization:</div>
            <div>Task Name:</div>
            <div>Task Responsibility:</div>
            <div>Date Assigned:</div>
            <div>Due Date:</div>
            <div>Learn More:</div>
            <div>Mark Complete:</div>
        </div>
        <ul class="task-list">
            <% tasks.asAssigner.forEach(function(task) { %>
                <div class="task-item">
                    <div>
                        <p class="task-organization-name"><%= task.organization.name %></p>
                    </div>
                    <div>
                        <h3 class="task-title"><%= task.name %></h3>
                    </div>
                    <div>
                        <% if (task.owner) { %>
                            <p class="task-owner"><%= task.owner.name %></p>
                        <% } %>
                        <% if (!task.owner) { %>
                            <p class="task-owner">None Yet</p>
                        <% } %>
                    </div>
                    <div>
                        <p><%= new Date(task.time_assigned).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></p>
                    </div>
                    <div>
                        <p><%= new Date(task.time_deadline).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></p>
                    </div>
                    <div>
                        <button class="button-base submit-button inspect-button" data-task-id="<%= task._id %>" data-task-description="<%= task.description %>" data-is-assigner="true">Inspect</button>
                    </div>
                    <div>
                        <input type="checkbox" id="task-done-green-<%= task._id %>" class="task-done-checkbox" <%= task.completed ? 'checked' : '' %> onclick="markComplete('<%= task._id %>')" />
                        <label for="task-done-green-<%= task._id %>" class="custom-checkbox-label custom-checkbox-label-green"></label> 
                    </div>
                </div>
            <% }); %>
        </ul>
    </div>

    <div class="task-section">
        <h2>Tasks Assigned To Me:</h2>
        <div class="task-header">
            <div>Organization:</div>
            <div>Task Name:</div>
            <div>Task Assigner:</div>
            <div>Date Assigned:</div>
            <div>Due Date:</div>
            <div>Learn More:</div>
            <div>Take Responsibility:</div>
        </div>
        <ul class="task-list">
            <% tasks.asAssignee.forEach(function(task) { %>
                <div class="task-item">
                    <div>
                        <p class="task-organization-name"><%= task.organization.name %></p>
                    </div>
                    <div>
                        <h3 class="task-title"><%= task.name %></h3>
                    </div>
                    <div>
                        <% if (task.assigner) { %>
                            <p class="task-owner"><%= task.assigner.name %></p>
                        <% } %>
                        <% if (!task.assigner) { %>
                            <p class="task-owner">None</p>
                        <% } %>
                    </div>
                    <div>
                        <p><%= new Date(task.time_assigned).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></p>
                    </div>
                    <div>
                        <p><%= new Date(task.time_deadline).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></p>
                    </div>
                    <div>
                        <button class="button-base submit-button inspect-button" data-task-id="<%= task._id %>" data-task-description="<%= task.description %>" data-is-assigner="false">Inspect</button>
                    </div>
                    <div>
                        <input type="checkbox" id="task-done-blue-<%= task._id %>" class="task-done-checkbox" <%= task.completed ? 'checked' : '' %> onclick="takeResponsibility('<%= task._id %>')" />
                        <label for="task-done-blue-<%= task._id %>" class="custom-checkbox-label custom-checkbox-label-blue"></label>                   
                    </div>
                </div>
            <% }); %>
        </ul>
    </div>

    <div class="task-section">
        <h2>My Responsibilities:</h2>
        <div class="task-header">
            <div>Organization:</div>
            <div>Task Name:</div>
            <div>Task Assigner:</div>
            <div>Date Assigned:</div>
            <div>Due Date:</div>
            <div>Learn More:</div>
            <div>Mark Complete:</div>
        </div>
        <ul class="task-list">
            <% tasks.asOwner.forEach(function(task) { %>
                <div class="task-item">
                    <div>
                        <p class="task-organization-name"><%= task.organization.name %></p>
                    </div>
                    <div>
                        <h3 class="task-title"><%= task.name %></h3>
                    </div>
                    <div>
                        <p class="task-owner"><%= task.assigner.name %></p>
                    </div>
                    <div>
                        <p><%= new Date(task.time_assigned).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></p>
                    </div>
                    <div>
                        <p><%= new Date(task.time_deadline).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></p>
                    </div>
                    <div>
                        <button class="button-base submit-button inspect-button" data-task-id="<%= task._id %>" data-task-description="<%= task.description %>" data-is-assigner="false">Inspect</button>
                    </div>
                    <div>
                        <input type="checkbox" id="task-done-green-<%= task._id %>" class="task-done-checkbox" <%= task.completed ? 'checked' : '' %> onclick="markComplete('<%= task._id %>')" />
                        <label for="task-done-green-<%= task._id %>" class="custom-checkbox-label custom-checkbox-label-green"></label>
                    </div>
                </div>
            <% }); %>
        </ul>
    </div>
</div>

<div class="sort-section">
    <label for="sortTasks">Sort by:</label>
    <select id="sortTasks">
        <option value="time_assigned">Date Assigned</option>
        <option value="time_deadline">Due Date</option>
    </select>
</div>

<button id="infoButton" class="base-icon info-button"><i class="fa-solid fa-circle-info"></i></button>
<button id="refreshTasks" class="base-icon refresh-button"><i class="fa-solid fa-arrows-rotate"></i></button>
<a href="/organizations" class='button-base bubble-button grey-bubble-button fixed-button bottom-left'>Back To Dashboard</a>
<a href="/tasks/history" class='button-base bubble-button grey-bubble-button fixed-button bottom-right'>Task History</a>
<div id="inspectModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <!-- Placeholder for dynamic content, such as task description -->
        <!-- This will be directly before the action buttons (if any) -->
        
        <!-- Optional: Delete Task Button, initially hidden -->
        <div class="button-container">
            <button class="button-base submit-button-red" id="deleteTaskButton" style="display: none;">Delete Task</button>
        </div>
        
        <!-- Other buttons/actions can go here, e.g., a "Close" button or additional actions related to the task -->
    </div>
</div>
<div id="infoModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>

        <p class="info-header">Live Task Dashboard:</p>
        <p> This is your "Live Task" dasboard. Here, you'll be able to 
            access all of the tasks which are currently uncompleted ('live') and potentially require your attention.
        </p>

        <p class="info-header">Task Groupings:</p>
        <p> The tasks are segmented into three groups. In the first group, 
            you can view the tasks which you have assigned. In the second group, you can view the tasks which have been 
            assigned to you. Finally, the third group allows you to see the tasks for which you are directly responsible.
        </p>

        <p class="info-header">Marking Tasks:</p> 
        <p>Marking tasks allows you to indicate that a task or tasks is 
            complete. When you take tesponsibility for a task, you are indicating to the assigner and the assignees that
            you are soley responsible for the task's completion. The blue refresh button in the top right of the page 
            "refreshes" the dashboard allowing you to clear away completed tasks. If you have incorrectly marked a task 
            as complete, you will need to retrieve it from the "Tasks History" dashboard.
        </p>

        <p class="info-header">Inspecting Tasks:</p>  
        <p>  You can "inspect" the tasks to learn more about their details. 
            Only if you are the assigner of a task, can you delete the task in its entirety. Additionally, if you have taken responsibility
            for a task and are no longer able to complete it, you can "drop" the task. This is accomplished through the 
            inspect button.
        </p>
    </div>
</div>
<script src="/js/checkBox.js"></script>
<script src="/js/inspectModal.js"></script>
<script src="/js/deleteTask.js"></script>
<script src="/js/sortTasks.js"></script>
<script src="/js/infoModal.js"></script>
    