<div class='dash-header-wrapper'>
    <div class = 'center-info dashboard-center-info'><h2 class ="dashboard-header">Browse New Organizations</h2></div>
</div>
<div class="organization-container">
    <% organizations.forEach(function(organization) { %>
        <a href="/organizations/join/select/<%= organization._id %>" class="organization-box">
            <div class="organization-name">
                <%= organization.name %>
            </div>
            <img class="organization-image" src=<%= organization.logoUrl %> alt="Error displaying image.">
            <div class="organization-index-details">
                <p>Manager: <%= organization.managerName %></p>
                <p>Date Founded: <%= new Date(organization.dateCreated).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></p>
                <button class="button-base submit-button" data-org-id="<% organization._id %>" data-org-name = "<% organization.name %>">Learn More</button>
            </div>
        </a>
    <% }); %>
</div>
<a href="/organizations/join" class='button-base bubble-button grey-bubble-button fixed-button bottom-left'>Back</a>