<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
 <div class='dash-header-wrapper'>
    <div class = 'center-info dashboard-center-info'><h2 class ="dashboard-header">Organization Dashboard</h2></div>
</div>
<% if (flashMessages.success) { %>
    <div class="alert alert-success">
        <%= flashMessages.success %>
    </div>
<% } %>
<% if (flashMessages.error) { %>
    <div class="alert alert-danger">
        <%= flashMessages.error %>
    </div>
<% } %>

<div class="organization-container">
    <% organizations.forEach(function(organization) { %>
        <a href="/organizations/<%= organization._id %>" class="organization-box">
            <div class="organization-name">
                <%= organization.name %>
            </div>
            <div class="organization-index-details">
                <p>Manager: <%= organization.managerName %></p>
                <p>Date Founded: <%= new Date(organization.dateCreated).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></p>
            </div>
        </a>
    <% }); %>
</div>
<button id="infoButton" class="base-icon info-button"><i class="fa-solid fa-circle-info"></i></button>
<a href="/tasks" class='button-base bubble-button grey-bubble-button fixed-button bottom-left'>Live Tasks</a>
<a href="/tasks/history" class='button-base bubble-button grey-bubble-button fixed-button bottom-right'>Task History</a>




